// импортируем вид ссылки в боксе (как top-menu)
@import 'box';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  background-image: url(../images/pagebg.png);
  background-color: #FFF;
  background-repeat: repeat;
  z-index: 1;
}
a { color: $color-red; }
a:hover { color: white; }
a:active, a:focus { color: $color-red;}

.transition {
  transition: all 0.5s ease 0s;
}

.hidden {
  display: none!important;
}

h1, h2, h3 {
  font-size: 1.2rem;
  font-size-adjust: .5;
  font-family: inherit;
  font-weight: bold;
  color: $color-red;
}

h1{
  font-size: 1.4rem;
}

p {
  font-size: rem-calc(15px);
  font-family: inherit;
  line-height: 1.2em;
  color: lighten($color-red, 20%);
}

.to-right {
  float: right;
}

.text-center {
  text-align: center;
}

input[type='text'],
input[type='email'],
textarea {
  border: 1px solid $color-red;
  box-shadow: none;
  padding: rem-calc($padding-main);
}

label { @extend p; }


.btn {
  @extend .transition;
  position: relative;
  z-index: 2;
  padding: rem-calc(2*$padding-main);
  display: inline-block;
  border: 1px solid $color-red;
  line-height: 1em;
  background-color: white;
}

.btn:hover, .btn:focus {
  padding: rem-calc(2*$padding-main);
  display: inline-block;
  border: 1px solid $color-red;
  line-height: 1em;
  background-color: $color-red;
}

.btn[disabled],
.btn[disabled]:focus,
.btn[disabled]:hover {
  background-color: lighten($color-red, 20%);
  border-color: transparent;
}

button {
  color: $color-red;
  background-color: transparent;
  border: 1px solid $color-red;
}

// для вставки бекграунд-фото на весь экран

.bg-image {
  display: block;
  position: relative;

  &::before, &::after {
    content: "";
    position: fixed;
    left: 0px; top: 0px; right: 0px; bottom: 0px;
    z-index: -5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.overflow {
  overflow: hidden;
}

label { margin: rem-calc($padding-main 0); }

@media only screen and (min-width: rem-calc(961px)) {
  .medium-right { float: right }
}
@media only screen and (max-width: rem-calc(960px)) {
  .small-text-centered {
    text-align: center;
    position: relative;
  }
}