/******************************************************
                    меню в боксе
======================================================*/
.box a {
  @extend .transition;
  width: 100%;
  padding: rem-calc(0 $padding-main);
  display: inline-block;
  text-align: center;
  border: 1px solid white;
  line-height: 2rem;
  text-align: center;
}

.box a { background-color: rgba(255,255,255,0.5); }
.box a:hover { background-color: transparent; }
.box .active a {
  background-color: rgba($color-red,0.5);
  color: white;
}
.box .active a:hover {
  cursor: default;
}

.box.invert a {
  background-color: transparent;
  color: white;
}

.box.invert a:hover { background-color: rgba(255,255,255,0.5); }
