/******************************************************
                    хлебные крошки
======================================================*/
#breadcrumbs {
  position: absolute;
  margin-top: rem-calc($height-logo-str - $height-logo + $padding-main);
  left: 0; right: 0;
  z-index: 100;
}

#breadcrumbs .breadcrumbs {
  padding: 0;
  margin-left: rem-calc(144px);
  background-color: transparent;
  border: none;
  padding-top: rem-calc(10px);
}

@media only screen and (max-width: rem-calc(960px)) {
  #breadcrumbs .breadcrumbs {
    margin-left: 0;
  }
}
#breadcrumbs .box li {
  padding-right: rem-calc($padding-main);
}
#breadcrumbs .box li:before {
  color: white;
  font-size: 2em;
}

.box a {
  width: auto;
}