#content {
  $height-other: rem-calc($height-logo + $header-margin + $height-footer);
  min-height: calc(100% - #{$height-other});
  width: 100%;
  // padding: 0.625rem 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*justify-content: space-between;*/
}

.line .row { border-bottom: 1px solid white; }


@media only screen and (max-width: rem-calc(960px)) {
  #content {
    $height-other: rem-calc($height-logo-small + $header-margin + $height-footer);
    min-height: calc(100vh - #{$height-other});
  }
  .line .row { border-bottom: 1px solid $color-red; }
}