.contacts-container {
  width: 100%;
}

/* фоновая картинка */
.contacts { @extend .bg-image; }

.contacts::before {
  @extend .bg-image;
  background-image: url(../images/bg-contacts.jpg);
}

.towns, .tels {
  text-align: left;
  display: inline-block;
  margin-right: rem-calc($padding-main);
  // float: left;
}

.sender::before {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0;
  border-top: 1px solid $color-red;
  height: 1px;
  width: 100%;
  content: '';
}

.town-1 span, .town-2 span {
  display: inline-block;
}
@media only screen and (min-width: rem-calc(960px)) {
  .town-1 span { min-width: 100px; }

  .town-2 span { min-width: 200px; }
}
