/******************************************************
                        подвал
======================================================*/
body > footer {
  height: rem-calc($height-footer);
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: rem-calc($height-footer - 1px);

  .logo {
    display: block;
    width: 100%;
    border-top: 1px solid white;
  }

  .logo a:hover {
    opacity: 0.5;
  }

  img {
    height: rem-calc($height-footer-logo);
  }
}


@media only screen and (max-width: rem-calc(960px)) {
  body > footer .logo {
    border-color: transparent;
    background-color: rgba($color-red, 0.5);
  }
}