/******************************************************
                 хедер с лого и меню
======================================================*/
body > header {

  position: relative;
  z-index: 100;
  padding-top: rem-calc($header-margin);

  .logo {
    display: block;
    text-align: left;
    // height: rem-calc($height-logo);
  }

  .logo img {
    height: rem-calc($height-logo);
    float: left;
  }

}

@media only screen and (max-width: rem-calc(960px)) {
  body > header .logo img {
    height: rem-calc($height-logo-small);
  }
}

.top-menu-container {
  position: relative;
  $margin-top: ($height-logo-str - $height-main-menu)*3/5;
  margin-top: rem-calc($margin-top);
}
.top-menu {
  margin: 0;
  li {
    padding-left: rem-calc($padding-main/2);
    display: inline-block;
  }

  a {
    min-width: rem-calc(140px);
    line-height: rem-calc($height-main-menu);
    font-weight: bold;
  }
}

@media only screen and (max-width: rem-calc(960px)) {
  .top-menu { display: none; }
}