/******************************************************
             стили заглавной страницы
======================================================*/

.home-container { width: 100%; }

// грязный хак для центрорования!!!
// http://stackoverflow.com/questions/20541306/how-to-write-a-css-hack-for-ie-11
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  // IE9+ CSS
  .home-container {
    padding-top: 15rem;
  }
}

/* фоновая картинка */
.home { @extend .bg-image; }
.home::before {
  background-image: url(../images/bg-home.jpg);
}

.home .logo {
  max-height: rem-calc(200px);
  // height: rem-calc(200px);
  margin: 4*rem-calc($padding-main);
  margin-bottom: 0;
  // width: 100%;
}

.home .slogan {
  padding: rem-calc(2*$padding-main 0 4*$padding-main 0);
  margin: 0;
  font-size: rem-calc(50px);
  font-family: 'Philosopher', sans-serif;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  line-height: 1em;
  color: white;
}

.home .box {
  text-align: center;
}
.home .box a {
  display: inline-block;
  padding: rem-calc($padding-main*1.5) rem-calc($padding-main*4);
  margin: rem-calc($padding-main);
  width: rem-calc(260px);
  min-width: rem-calc(260px);
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1em;
  background-color: rgba(0,0,0,0.25);
  color: white;
  letter-spacing: 0.1em;
  &:hover {
    background-color: rgba(255,255,255,0.75);
    color: $color-red;
  }
}


@media only screen and (max-width: rem-calc(960px)) {
  .home .slogan {
    //padding: 0;
    font-size: rem-calc(40px);
  }
  .home .logo {
    margin-bottom: 0;
  }
  .home a {
    font-size: 1rem;
    padding: rem-calc($padding-main 2*$padding-main);
    margin: rem-calc($padding-main);
  }
}