.mobile-menu {
  display: none;
  // margin: rem-calc(10px);
  // margin-right: rem-calc(30px);
}

// покажем мобильное меню
@media only screen and (max-width: rem-calc(960px)) {
  .mobile-menu {
    float: right;
    padding: rem-calc($padding-main $padding-main);
    display: inline-block;
    border-radius: rem-calc($padding-main/2);
    background-color: rgba(white, 0.5);
    &:hover {
      background-color: white;
    }
  }
}

.mobile-menu input {
  display: none;
}
.mobile-menu input + label {
  margin: 0;
}

.mobile-menu_list-w {
  border: 0.0625rem #313131 solid;
  display: none;
  z-index: 9999;
  position: fixed;
  left: 0; right: 0; bottom: 0; top: 0;
  background-color: #4A4A4A;
  margin: 0;
  overflow-y: auto;
}

.mobile-menu_list-w ul {
  margin: 0;
}
.mobile-menu_list {
  transition: all .4s;
}
.mobile-menu_list li {
  list-style: none;
  &:hover { background-color: grey; }
}
.mobile-menu_list > li > a {
  display: block;
  text-decoration: none;
  font: {
    size: 1rem;
    family: 'Roboto', sans-serif;
  };
  color: #fff;
  line-height: 4.5rem;
  text-transform: uppercase;
  padding: 0 1rem;
  border-bottom: 0.0625rem solid #313131;
}
.mobile-menu_list > li > a:hover {
  text-decoration: none;
}
.mobile-menu_inner {
  display: none;
  margin: 0;
}
.mobile-menu_inner li.active a {
  background-color: #646464;
  color: #4A4A4A;
}
.mobile-menu_inner li a {
  font: {
    family: 'Roboto', sans-serif;
    size: .8rem;
  };
  text: {
    decoration: none;
    transform: uppercase;
  };
  display: block;
  line-height: 2.8rem;
  color: #D8D8D8;
  padding: 0 1rem;
  background: #575756;
  border-bottom: 0.0625rem solid #313131;
}
.mobile-menu_inner li a:hover {
  text-decoration: none;
}
.mobile-menu_nav-trigger {
  position: absolute;
  clip: rect(0,0,0,0);
}
.mobile-menu_nav-trigger:checked ~ .mobile-menu_list-w {
  display: block;
}
.mobile-menu_nav-trigger:checked ~ .mobile-menu_nav-trigger-ico span,
.mobile-menu_nav-trigger:checked ~ .mobile-menu_nav-trigger-ico span:before,
.mobile-menu_nav-trigger:checked ~ .mobile-menu_nav-trigger-ico span:after {
  transition: all 500ms ease-in-out;
}
.mobile-menu_nav-trigger:checked ~ .mobile-menu_nav-trigger-ico span {
  background-color: transparent !important;
}
.mobile-menu_nav-trigger:checked ~ .mobile-menu_nav-trigger-ico span:before,
.mobile-menu_nav-trigger:checked ~ .mobile-menu_nav-trigger-ico span:after {
  top: 0;
  background-color: #fff;
}
.mobile-menu_nav-trigger:checked ~ .mobile-menu_nav-trigger-ico span:before {
  transition: all .5s;
  transform: translate(0,0) scale(1,1) rotate(45deg);
}
.mobile-menu_nav-trigger:checked ~ .mobile-menu_nav-trigger-ico span:after {
  transition: all .5s;
  transform: translate(0,0) scale(1,1) rotate(-45deg);
}
.mobile-menu_nav-trigger-ico {
  position: relative;
  float: right;
  z-index: 99999;
  width: 1.875rem;
  cursor: pointer;
  height: 22px;
}
.mobile-menu_nav-trigger-ico span {
  top: 10px;
}
.mobile-menu_nav-trigger-ico span,
.mobile-menu_nav-trigger-ico span:before,
.mobile-menu_nav-trigger-ico span:after {
  cursor: pointer;
  height: 0.125rem;
  width: 1.875rem;
  position: absolute;
  display: block;
  content: '';
  background: $color-red;
}
.mobile-menu_nav-trigger-ico span:before {
  top: -10px;
}
.mobile-menu_nav-trigger-ico span::after {
  bottom: -10px;
}
.m-top.initial + .mobile-menu .mobile-menu_nav-trigger-ico span,
.m-top.initial + .mobile-menu .mobile-menu_nav-trigger-ico span:before,
.m-top.initial + .mobile-menu .mobile-menu_nav-trigger-ico span:after {
  background: #fff;
}
