/******************************************************
                    модальное окно
======================================================*/
.modal-container {
  //position: absolute;
  position: fixed;
  display: flex;
  max-height: 100%;
  /*height: auto;*/
  height: 100%;
  min-height: 100%;
  overflow: auto;
  z-index: 9999;
  align-items: center;
  top: 0; right: 0; left: 0; //bottom: 0;
  background-color: rgba(0,0,0,.5);
}

.modal-container section {
  padding: 20px;
  padding-top: 0;
}

/*********************************/
/* кнопка закрыть модальное окно */

.modal-container a[href='#close'] {
  position: absolute;
  padding: rem-calc($padding-main);
  margin-top: rem-calc(-$padding-main);
  line-height: 0.5em;
  top: 0; right: 0;
  color: $color-red;
  font-size: 3rem;
  border: 1px solid transparent;
}

.modal-container a[href='#close']:hover {
  border: 1px solid $color-red;
  color: lighten($color-red, 40%);
}

/*********************************/

.modal-container section.title {
  padding: 20px;
  color: $color-red;
}

.modal-container img {
  padding: rem-calc($padding-main);
  min-width: 100%;
}

.modal { background-color: white; }

img.diploms {
  min-width: 150%;
}

img.diploms.last {
  float: right;
  margin-top: 5*rem-calc($padding-main);
}

.medals { text-align: center; }

.medals img{
  padding: rem-calc($padding-main);
}