/******************************************************
            слайдер с описанием товаров
======================================================*/
#slider-product {
  margin-top: rem-calc(-$height-header);
  margin-bottom: rem-calc(-$height-footer);
  //z-index: 0;
}
.product-item {
  position: relative;
  height: 100vh;
  width: 100vw;
}
@media only screen and (max-width: rem-calc(960px)) {
  .product-item {
    position: static;
    height: auto;
  }
}
.product-item-image {
  content: ' ';
  position: absolute;
  height: rem-calc(360px);
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: inherit;
  background-position: center;
  height: 100vh;
}

@media only screen and (max-width: rem-calc(960px)) {
  .product-item-image {
    position: static;
    top: 0;
    height: rem-calc(360px);
    min-height: 75vh;
  }
}

.product-item-text {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  background-color: rgba(255,255,255,0.75);
  background-size: 0;
  color: lighten($color-red, 25%);
  font-size: rem-calc(16px);
}

.product-item-text header .row {
  min-height: 8rem;
  overflow: hidden;
}

.product-item-text .content .row {
  min-height: 12rem;
  overflow: hidden;
}

@media only screen and (max-width: rem-calc(960px)) {
  .product-item-text {
      position: static;
  }
}

.product-item-text p {
  margin: 0;
}

.product-item-text h3 {
  margin-top: 0; /*rem-calc($padding-main);*/
  color: $color-red;
  font-family: inherit;
}

.product-item-text header .row,
.product-item-text .content .row,
.product-item-text footer .row {
  padding: rem-calc(2*$padding-main 0);
}

// .product-item-text .content .row {
//  padding-top: 0;
// }

// .product-item-text footer {
//   height: $height-footer;
// }

@media only screen and (max-width: rem-calc(960px)) {
.contacts-container .product-item-text footer {
    display: none;
    height: 0;
  }
}
/*****************************************
            навигация слайдера
==========================================*/
// сдвинем круглишки с навигацией
#slider-product .owl-dots,
#slider-product .owl-nav {
  position: absolute;
  left: 0; right: 0;
}

#slider-product .owl-dots {
  bottom: 21rem;
  // top: 55%;
}

@media only screen and (max-width: rem-calc(960px)) {
  #slider-product .owl-dots {
    top: 55%;
    display: none;
    // top: 70vh;
    //top: 65%;
  }
}

#slider-product .owl-nav  { top: 35%; }

#slider-product .owl-prev,
#slider-product .owl-next {
  height: rem-calc(60px);
  width: rem-calc(60px);
  border: 3px solid white;
  position: absolute;
  font-size: 3rem;
  background-color: transparent;
  border-radius: 100%;
  background-color: rgba($color-red, .5);
  line-height: 80%;
}

#slider-product .owl-prev { left: rem-calc(80px); }
#slider-product .owl-next { right: rem-calc(80px); }

@media only screen and (max-width: rem-calc(960px)) {
  #slider-product .owl-nav { top: 25%; }
  #slider-product .owl-prev { left: rem-calc(20px); }
  #slider-product .owl-next { right: rem-calc(20px); }
}

#slider-product .owl-dot {
  margin: rem-calc(5px);
  padding: rem-calc(4px);
  box-sizing: border-box;
  border: rem-calc(2px) solid white;
  border-radius: 100%;
  background-color: rgba($color-red, .5);
}

#slider-product .owl-dot span {
  height: rem-calc(10px);
  width: rem-calc(10px);
  border-radius: 5px;
  background-color: transparent;
  margin: rem-calc(5px);
}

#slider-product .owl-dot.active span {
  background-color: white;
}