/******************************************************
              меню каталога с товарами
======================================================*/
.production-container {
  width: 100%;
  margin-top: rem-calc($height-logo-str - $height-logo + $padding-main);
  //padding: rem-calc($padding-main 0);
  //border-top: 1px solid white;
  //border-bottom: 1px solid white;
  color: $color-red;
  font-family: 'PT Sans', sans-serif;
  background-color: rgba(255,255,255,0.5);
}

@media only screen and (max-width: rem-calc(960px)) {
  .production-container {
    margin-top: 2.5*rem-calc(-$padding-main);
  }
}

/* фоновая картинка */
.production { @extend .bg-image; }

.production::before {
  background-image: url(../images/bg-company2.jpg);
}

.production article {
  // max-height: rem-calc($height-production);
  overflow: hidden;
  margin-bottom: rem-calc($padding-main);
  background-color: rgba(255,255,255,0.5);

  &:last-child { margin-bottom: 0 }
  border: {
   top: 1px solid white;
   bottom: 1px solid white;
  };
}

.production-img { overflow: hidden; }

.production img {
  // min-height: 100%;
  max-width: none;
  min-width: 100%;
}

.production h3 {
  padding-top: rem-calc($padding-main);
}

h3.big {
  margin-right: rem-calc($padding-main);
  float: left;
  line-height: rem-calc($height-production - $padding-main);
  font-size: 3em;
}

@media only screen and (max-width: rem-calc(960px)) {
  h3.big {
    line-height: rem-calc(60px);
  }
}

p.big {
  position: absolute;
  margin-left: 120px;
  top: 50%;
  -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
}

@media only screen and (max-width: rem-calc(960px)) {
  // p.big {
  //   padding-top: rem-calc(30px);
  // }
}

/* ссылка на модальное окно */
.production a.btn {
  padding-top: rem-calc($padding-main);
  // display: inline-block;
  position: relative;
  top: 0;
  float: right;
  // margin-top: rem-calc(-5px);
  //top: rem-calc($padding-main);
  line-height: 1.8em;
  font-size: rem-calc(12px);
  right: 0;
    padding: rem-calc($padding-main/4 2*$padding-main);
}
