.products-menu-container {
  min-width: 100%;
}

/* фоновая картинка */
.products-menu::before {
  @extend .bg-image;
  background-image: url(../images/bg-catalog.jpg);
}

.products-menu {
  display: block;
  position: relative;
  margin: 0;
  padding: 2*rem-calc($padding-main) 0;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.products-menu:after {
  clear: both;
  content: '';
  display: block;
}

.products-menu li {
  height: rem-calc($height-menu-products);
  position: relative;
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
}

/**********************************
  выведим по 4 шт .menu-products
===================================*/
.products-menu li {
  $count-items: 4;
  margin: rem-calc($padding-main);
  width: calc(100%/#{$count-items} - #{($count-items*2-2)*$padding-main/$count-items});

  &:nth-child(#{$count-items}n+1) { margin-left: 0;  }
  &:nth-child(#{$count-items}n)   { margin-right: 0; }
}


/**********************************
  выведим по 2 шт .menu-products
===================================*/
// покажем мобильное меню
@media only screen and (max-width: rem-calc(960px)) {
  .products-menu li {
    $count-items: 2;
    margin: rem-calc($padding-main);
    width: calc(100%/#{$count-items} - #{($count-items*2-2)*$padding-main/$count-items});

    &:nth-child(#{$count-items}n+1) { margin-left: 0;  }
    &:nth-child(#{$count-items}n)   { margin-right: 0; }
  }
}

/**********************************
  выведим по 1 шт .menu-products
===================================*/
// покажем мобильное меню
@media only screen and (max-width: rem-calc(480px)) {
  .products-menu li {
    $count-items: 1;
    margin: rem-calc($padding-main);
    width: calc(100%/#{$count-items} - #{($count-items*2-2)*$padding-main/$count-items});

    &:nth-child(#{$count-items}n+1) { margin-left: 0;  }
    &:nth-child(#{$count-items}n)   { margin-right: 0; }
  }
}
/**********************************/

.products-menu span {
  padding: rem-calc($padding-main);
  position: absolute;
  left: 0; right: 0; top: 50%;
  -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
  line-height: 1em;
}

.products-menu a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/*******************************
  hover-эффект при наведении
       на пункт меню
===============================*/
.products-menu img {
  @extend .transition;
  min-height: 100%;
  max-width: none;
  min-width: 100%;
  position: absolute;
  left: 50%; top: 50%;
  -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
  // z-index: -1;
}

.products-menu li:hover img {
  min-height: 120%;
  min-width: 120%;
  // filter: blur(4px);
}
