// блок контактов
.contacts-container
  section.product-item-text.contacts
    header.line
      .row
        .medium-12.columns
          h3.text-center Телефоны отделов продаж
    section.content
      .row
        .medium-6.columns: .medium-right.small-text-centered
            .town-1
              span Владивосток
              | &ensp;
              span (423)&nbsp;245-02-98,&nbsp;245-78-19
            .town-1
              span Хабаровск
              | &ensp;
              span (4212)&nbsp;52-57-04,&nbsp;52-56-11
            .town-1
              span Находка
              | &ensp;
              span (4236)&nbsp;74-55-93,&nbsp;74-88-43
            .town-1
              span Уссурийск
              | &ensp;
              span (4234)&nbsp;34-36-41,&nbsp;37-19-66
        .medium-6.columns: .small-text-centered
            .town-2
              span Южно-Сахалинск
              | &ensp;
              span (4242)&nbsp;77-74-15,&nbsp;77-97-18
            .town-2
              span Комсомольск-на-Амуре
              | &ensp;
              span (4217)&nbsp;22-15-90
            .town-2
              span Петропавловск-Камчатский
              | &ensp;
              span +7&nbsp;914&nbsp;023-00-00
    section.content
      .row
        .medium-12.columns
          .sender.text-center: a.btn(href='#form' data-modal-id='form-send') ОТПРАВИТЬ СООБЩЕНИЕ
    footer
