.row
  .small-10.medium-6.columns
    a.logo(href='index.html')
     img(src='assets/images/dd_logo.svg')
  .small-6.columns.hide-for-small.text-right
    .top-menu-container
        ul.top-menu.box(class={invert: state === 'home'})
          +menu(menu.top, state)
  .small-2.columns
    //.top-menu-container
    include mobile-menu
