.home-container
  .home
    //- .row
      .medium-12.text-center.columns
        img.logo(src='assets/images/dd_logo.svg' alt='Доброе дело')
    .row
      .medium-12.columns
        p.slogan На 1 килограмм колбасы &mdash;<br>1,5 килограмма мяса
    .row
      .medium-12.columns
        .box
          a(href='production.html') Производство
          a(href='products.html') Продукция
