include helpers/vars
include helpers/mixins

doctype
html(lang="ru"): block html
  head: block head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet' href=hrefFont)
    link(rel='stylesheet' href='assets/css/style.css')
    meta(name='description' content='')
    meta(name='keywords' content='')
    //- script(type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.6.2.js')

  body: block body

    //- меню и лого
    header: block header
      include header

    //- хлебные крошки
    if ( state == 'product' )
      section#breadcrumbs: block breadcrumbs
        include breadcrumbs

    //- основной блок контента
    section#content: block content
      p include content

    //- футер с лого websee
    footer: block footer
      include footer
