.mobile-menu
  input#mobile-menu_nav-trigger.mobile-menu_nav-trigger(type='checkbox')
  label.mobile-menu_nav-trigger-ico(for='mobile-menu_nav-trigger')
    span
  .mobile-menu_list-w
    ul.mobile-menu_list
      //- li.first
      //- li.active
      //- li.last
      +menu(menu.top, state)
