#form-send.modal-container.hidden
  .row.collapse
    .medium-6.small-centered.columns
      .modal
        section.title
          .row
            .medium-12.columns
              h3 Форма обратной связи
              a(href='#close') &times;
        section.content
          form.ajax(action='/form')
            .row
              .medium-12.columns
                p Задайте вопрос или отправьте нам сообщение с помощью данной формы
            .row
              .medium-4.columns
                label Ваше имя
              .medium-8.columns
                input(type='text' name='name' required)
            .row
              .medium-4.columns
                label Электронная почта
              .medium-8.columns
                input(type='email' name='email' required)
            .row
              .medium-12.end.columns
                textarea(name="question" rows="6" placeholder="Ваше сообщение...")
            .row
              .medium-12.end.columns
                .text-center
                  button.btn(type='submit') Отправить сообщение