mixin popImg(img)
  - img = 'assets/images/patents/' + img;
  // a(href=img)
  img(src=img alt='')&attributes(attributes)

#patents.modal-container.hidden
  .row.collapse
    .medium-12.columns
      .modal
        section.title
          .row
            .medium-12.columns
              h3 Награды
              a(href='#close') &times;
        section.content
          .row.collapse
            .small-4.medium-2.columns: +popImg('diplom_01.jpg')
            .small-4.medium-2.columns: +popImg('diplom_02.jpg')
            .small-4.medium-2.columns: +popImg('diplom_03.jpg')
            .small-4.medium-2.columns: +popImg('diplom_04.jpg')
            .small-4.medium-2.columns: +popImg('diplom_05.jpg')
            .small-4.medium-2.columns: +popImg('diplom_06.jpg')
          .row.collapse
            .medium-6.medium-push-6.columns
              .row.collapse
                .small-4.columns: +popImg('diplom_09.jpg')
                .small-4.columns: +popImg('diplom_10.jpg')
                .small-4.columns: +popImg('diplom_11.jpg')
            .small-4.medium-2.medium-pull-6.columns: +popImg('kubok.png')
            .small-4.medium-2.medium-pull-6.columns: +popImg('diplom_07.jpg').diploms
            .small-4.medium-2.medium-pull-6.columns: +popImg('diplom_08.jpg').diploms.last


            .small-8.medium-4.small-right.columns
              .row.collapse
                .small-4.medium-4.columns: img(src='assets/images/patents/medal_01.png')
                .small-4.medium-4.columns: img(src='assets/images/patents/medal_02.png')
                .small-4.medium-4.columns: img(src='assets/images/patents/medal_03.png')
