.production-container
  .production
    article
      .row
        .medium-4.columns
          h3.big 1949
          p.big Находкинский мясокомбинат (ОАО&nbsp;«НМК») был основан в городе Находка 16 июля 1949 года.
        .medium-4.medium-push-4.columns
          .production-img: img(src='assets/images/production/001.jpg' alt='')
        .medium-4.medium-pull-4.columns
          h3 Сегодня комбинат — современное производство
          p с оборудованием ведущих производителей Европы и России, командой профессионалов и постоянно растущими объемами производства.
    article
      .row
        .medium-4.columns
          h3 Государственный ветеринарный контроль
          p На предприятии существует многоуровневый контроль качества. Для этого на базе ясокомбината работает независимая лаборатория, находящаяся в ведомстве Госветнадзора.
        .medium-4.medium-push-4.columns
          .production-img: img(src='assets/images/production/002.jpg' alt='')
        .medium-4.medium-pull-4.columns
          h3 Свой отдел качества
          p Собственный внутренний контроль осуществляет Отдел качества. На мясокомбинате действует Система международной сертификации ХАССП.
    article
      .row
        .medium-4.columns
          h3 Много мяса
          p Специалисты завода тщательно выбирают мясное сырье, пряности и другие ингредиенты для продуктов ТМ Доброе Дело, работают с лучшими производителями и поставщиками Европы и России.
        .medium-4.medium-push-4.columns
          .production-img: img(src='assets/images/production/003.jpg' alt='')
        .medium-4.medium-pull-4.columns
          h3 Европпейские специи
          p Специи для колбас производятся на родине колбасного производства – в Австрии и Германии. На заводе строго исполняется принципиальное решение не использовать при производстве продукции генно-модифицированные продукты.
    article
      .row
        .medium-4.columns
          h3 Лидер Приморского края
          p ОАО «НМК» является лидером в Приморском крае по производству сырокопченых колбас. Для производства этой продукции на завод было закуплено высокотехнологичное немецкое оборудование. Сегодня сырокопченые колбасы ТМ Доброе Дело – эталон вкуса в Приморье.
        .medium-4.medium-push-4.columns
          .production-img: img(src='assets/images/production/004.jpg' alt='')
        .medium-4.medium-pull-4.columns
          h3
            | Победитель
            a.btn(href='#patents' data-modal-id='patents') ПОСМОТРЕТЬ НАГРАДЫ
          p Профессионализм технологов ОАО «НМК» подтверждается многочисленными наградами на конкурсах и выставках и стабильно высоким качеством готового продукта ТМ Доброе Дело, в пользу которого сегодня делает выбор все больше потребителей.
