#slider-product.owl-carousel.owl-theme
  for i in [1,2,3,4,5,6,7,8,9]
    article.product-item(data-hash=i)
        section.product-item-image(style='background-image: url(assets/images/products/product-1.jpg)')
        section.product-item-text
          header.line
            .row
              .medium-4.columns
                h1 Роскошная колбаса
              .medium-8.columns
                p Роскошный праздничный вид этой колбасе придает обсыпка из ярких ароматных пряностей.<br>«Сердце» этого продукта – отборная говядина и коньяк. Продукт премиум класса.
          section.content.line
            .row
              .medium-4.columns
                h3.text-center Состав
                p Говядина первого сорта, шпик хребтовый, соль, натуральные специи, коньяк.
              .medium-4.columns
                h3.text-center Рецептура и сортность
                p Оригинальная рецептура технологов завода.
              .medium-4.columns
                h3.text-center Условия хранения
                p При температуре от +12&deg;C до +15&deg;C и относительной влажности не выше 75-78% – 4 мес. При температуре от -7&deg;C до -9&deg;C и относительной влажности не выше 75-78% – 9 мес.
          footer
