- var title = 'Доброе дело'
- var hrefFont = 'http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic'
-
  menu = {
    top: {
      production: 'Производство',
      products: 'Продукция',
      contacts: 'Контакты'
    },
    products: {
      'product.html#0': 'Сырокопченые колбасы',
      'product.html#1': 'Полукопченне колбасы',
      'product.html#2': 'Ветчины',
      'product.html#3': 'Вареная колбаса',
      'product.html#4': 'Полуфабрикаты',
      'product.html#5': 'Деликотесы и копчености',
      'product.html#6': 'Сардельки и сосиськи',
      'product.html#7': 'Сыровяленые колбасы и ветчины'
    }
  }