extends templates/layout

block prepend html
  - var title = 'Контакты'
  - var state = 'contacts'

// меню и лого
block header
  include templates/header

// хлебные крошки отсутствуют
block breadcrumbs

// основной блок контента
block content
  include templates/contacts

// модальное окно с наградами
block append body
  include templates/modal-form-send
  script(src='assets/js/vendors/jquery.min.js')
  script: include js/modal.js
  script: include js/form.js
