extends templates/layout

block prepend html
  - var title = 'Главная'
  - var state = 'home'

//- меню и лого
block header
  //- include templates/header-home
  include templates/header

// основной блок контента
block content
  include templates/index

block append head
  link(rel="stylesheet" href='http://fonts.googleapis.com/css?family=Philosopher:700italic&subset=latin,cyrillic')
