extends templates/layout

block prepend html
  - var title = 'Сырокопченые колбасы'
  - var state = 'product'

// меню и лого
block header
  include templates/header

// основной блок контента
block content
  include templates/product

// модальное окно с наградами
block append body
  include templates/modal-patents
  script(src='assets/js/vendors/jquery.min.js')
  script(src='assets/js/vendors/owl.carousel.min.js')
  script: include js/slider.js

block footer