extends templates/layout

block prepend html
  - var title = 'Продукция'
  - var state = 'products'

// меню и лого
block header
  include templates/header

// основной блок контента
block content
  include templates/products-menu
