extends templates/layout

block prepend html
  - var title = 'Производство'
  - var state = 'production'

// меню и лого
block header
  include templates/header

// основной блок контента
block content
  include templates/production

// модальное окно с наградами
block append body
  include templates/modal-patents
  script(src='assets/js/vendors/jquery.min.js')
  script: include js/modal.js