// основной отступ
$padding-main: 10px;

// отступ от верха окна браузера
// $header-margin: 35px;
$header-margin: 15px;

// высота лого
$height-logo: 125px;
$height-logo-small: 75px;
// высота текста лого
$height-logo-str: 65px;
// высота меню li
$height-main-menu: 45px;
// высота всего header-a
$height-header: $header-margin + $height-logo;

// высота строки с производством
$height-production: 180px;

// высота меню с продуктами (каталог)
$height-menu-products: 275px;

$height-footer: 60px;
$height-footer-logo: 20px;

// colors
$color-red: #962622;